@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #20242d;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

label {
  padding-top: 7px;
}
h3 {
  font-family: "Franklin Gothic Medium";
  font-size: small;
  margin-top: 2px;
}
/* Dark mode scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; /* Background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners for the scrollbar handle */
}

span,
.primary-color {
  background-image: linear-gradient(to right, #ffffff, #90ce95);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to right, #2b7231, #07a50f);
}
